#graphicContainer {
    background-image: linear-gradient(to right, #3c0068, #300053);
    height: 75vh;
    width: 68%;
    min-height: 500px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid white;
    float: left;
}
#hiddenContainer {
    height: 75vh;
    width: 30%;
    font-family: 'Fjalla One', sans-serif;
    float: left;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #300053;
    border: 1px solid white;
}
#mapContainer {
    float: left;
    height: 75vh;
    min-height: 500px;
    width: 88%;
}
.dataContainer {
    width: 300px;
    margin: 20px auto;
    text-align: center;
}

.menu {
    height: 45%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.menuTitle {
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}
.variableSelectInactive {
    height: 30px;
    padding-top: 8px;
    font-size: 18px;
    border: 1px solid #300053;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    text-align: center;
    width: fit-content;
    margin: 20px auto;
}
.variableSelectInactive:hover {
    background-color: #300053;
    transition: 1s;
    cursor: pointer;
    color: white;
    border: 1px solid #300053;
}
.variableSelectActive {
    background-color: #300053;
    border: 1px solid #300053;
    color: white;
}
#currentSettings {
    font-size: 20px;
    font-weight: lighter;
    width: 80%;
    margin: 50px auto;
}
.settingList {
    margin-bottom: 20px;
}
#variableContainer {
    width: 98%;
    margin: 30px auto;
}
#gangs {
    margin: auto;
}
#homicides {
    float: left;
}
#shootings {
    float: right;
}
.variableSubmit {
    height: 30px;
    width: 300px;
    margin: 30px auto;
    border: 1px solid white;
    text-align: center;
    padding-top: 8px;
    background-color: lightgray;
    color: #300053;
}
.variableSubmit:hover {
    background-color: #300053;
    color: white;
    border: 1px solid lightgray;
    transition: .3s;
    cursor: pointer;
}
.variableSubmit:active {
    box-shadow: 0 3px 0 lightgray;
}


#optionColumn {
    float: left;
    height: 75vh;
    min-height: 500px;
    width: 10%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.anOption {
    background-color: white;
    height: 33.3%;
    color: #300053;
    font-weight: bold;
    overflow: hidden;
}
.anOption:hover {
    background-color: transparent;
    transition: .5s;
    cursor: pointer;
    color: white;
}
.anOptionText {
    padding-top: 50px;
    padding-left: 30px;
    writing-mode: tb-rl;
    font-size: 20px;
}
.anOptionActive {
    background-color: transparent;
    color: white;
    border-right: none;
}